<div class="container">
    <mat-card>
        <h1>Sign Up</h1>
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form">
            <mat-form-field>
                <input matInput placeholder="Email" type="email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" formControlName="password" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Confirm Password" type="password" formControlName="repassword" required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Sign Up</button>
        </form>
    </mat-card>
</div>

