<div class="container">
    <div class="message">
        <span>Name</span>
        <span>Email</span>
        <span>Time</span>
        <span></span>
    </div>
    <div class="message" *ngFor="let message of messages">
        <span>{{message.name}}</span>
        <span>{{message.email}}</span>
        <span>{{message.createdAt | date}}</span>
        <span><button mat-icon-button (click)="showDetail(message)"><mat-icon>more_vert</mat-icon></button><button mat-icon-button (click)="delete(message)"><mat-icon>delete</mat-icon></button></span>
    </div>
    
</div>